
	<ngb-carousel>

	
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../assets/img/perrosychica.jpg" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<h3>Bienvenidos al refugio</h3>
			<p>Agradecemos tu interés en nuestra comunidad</p>
		  </div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../assets/img/veterinario.jpg" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<h3>No te preocupes por los gastos</h3>
			<p>¡Que el dinero no te frene, nosotros nos encargamos de los gastos veterinarios!</p>
		  </div>
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../assets/img/perroygato.jpg" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>Sólo buscamos cariño</h3>
			<p>No somos nada exigentes</p>
		  </div>
		</ng-template>
</ngb-carousel>


