<img src="../../../assets/img/contacta.jpg" alt="">
<h2>Contacta con nosotros</h2>

<div class="container">
<!-- mapa -->
<div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3547.244576887143!2d-5.7833083342872875!3d43.22095273829086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd36f702eb1196d5%3A0xd3bbdf37cdbea27c!2s33611%20Villarejo%2C%20Asturias!5e1!3m2!1ses!2ses!4v1677964920122!5m2!1ses!2ses" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- tarjeta con los datos de contacto -->
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Asociación Love can't be bought</h5>
      <br>
      <p class="card-text">Nuestro equipo se encuentra siempre activo y encantado de poder responder cualquier duda que le pueda surgir. </p>
      <p class="card-text"> Para ello, le dejamos nuestros datos de contacto:</p>
    </div>
    <ul class="list-group list-group-flush">

      <li class="list-group-item">Teléfono: 665 665 665</li>
      <li class="list-group-item">Email: equipo@elamornosecompra.es</li>

    </ul>
    <div class="card-body">
      <a routerLink="/inicio" class="card-link">Volver a inicio</a>
    </div>
  </div>
</div>

<app-pie></app-pie>

