/*panel*/
img {
  width: 100%;
  opacity: 0.8;
  height: 200px;
  object-fit: cover;
}

/*Titulo*/
h2 {
  padding: 4%;
  text-align: center;
  color: rgb(53, 53, 53)
}

.container {
  width: 100%;
  height: auto;

  /* add flexbox */
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.card {
  padding-left: 2%;
  padding-right: 2%;
  width: 30rem;
  margin: 4% 0 4% 0;
  border: none;
  text-align: justify;
  border-left: solid;
  border-right: solid;
  border-width: 0.1px;
  box-shadow: 20px 8px 18px 2px rgba(0, 0, 0, 0.2);
}