<div class="text-center" *ngIf="isLogged; else loggedOut">
  <h2>Has iniciado sesion</h2>
</div>
<ng-template #loggedOut>
  <div class="container d-flex justify-content-center">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Iniciar Sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/register">Registrarse</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onRegister()" novalidate [formGroup]="registerForm">
          <div class="form-group">
            <label for="nombre">Nombre del Usuario</label>
            <input type="text" name="nombre" id="nombre" class="form-control" formControlName="nombre"
              [(ngModel)]="nombre" required pInputText>
            <!--MENSAJE DE ERROR (REQUERIDO)-->
            <div *ngIf="registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched"
              class="alert alert-danger">El campo nombre no puede estar vacío</div>
          </div>
          <div class="form-group">
            <label for="apellidos">Apellidos del Usuario</label>
            <input type="text" name="apellidos" id="apellidos" class="form-control" formControlName="apellidos"
              [(ngModel)]="apellidos" required pInputText>
              <!--MENSAJE DE ERROR (REQUERIDO)-->
              <div *ngIf="registerForm.get('apellidos')?.invalid && registerForm.get('apellidos')?.touched"
              class="alert alert-danger">El campo apellidos no puede estar vacío</div>
          </div>
          <div class="form-group">
            <label for="dni">DNI del Usuario</label>
            <input type="text" name="dni" id="dni" class="form-control" formControlName="dni" [(ngModel)]="dni" required
              pInputText>
              <!--MENSAJE DE ERROR (REQUERIDO)-->
              <div *ngIf="registerForm.get('dni')?.invalid && registerForm.get('dni')?.touched"
              class="alert alert-danger">El campo dni no puede estar vacío y ha de tener 9 caracteres</div>
          </div>
          <div class="form-group">
            <label for="userEmail">Email del Usuario</label>
            <input type="email" name="userEmail" id="userEmail" class="form-control" formControlName="userEmail" 
              [(ngModel)]="userEmail" required pInputText>
              <!--MENSAJE DE ERROR (REQUERIDO)-->
              <div *ngIf="registerForm.get('userEmail')?.invalid && registerForm.get('userEmail')?.touched"
              class="alert alert-danger">El campo email no puede estar vacío y debe tener el formato correcto</div>
          </div>
          <div class="form-group">
            <label for="contrasenia">Contraseña</label>
            <input type="password" name="password" id="password" class="form-control" formControlName="password"
              [(ngModel)]="contrasenia" required pInputText>
              <!--MENSAJE DE ERROR (REQUERIDO)-->
              <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
              class="alert alert-danger">El campo contraseña no puede estar vacío y ha de tener mínimo 6 caracteres</div>
          </div>
          <div class="form-group">
            <button class="btn btn-outline-success btn-block" [disabled]="!registerForm.valid">Crear cuenta</button>
          </div>
        </form>
        <div *ngIf="f.submitted && isRegisterFail" class="alert alert-danger mt-3">{{errMsg}}</div>
      </div>
    </div>
  </div>
</ng-template>