
<div class=""col-md-6 offset-md-3>
    <h3 class="text-center">Registrar rol</h3>
    <form (ngSubmit)="onSubmit()" [formGroup]="rolesForm"><br>
      <div class="form-group">
        <label>Nombre: </label>
        <input type="text" [(ngModel)]="rol.nombre" name="nombre" id="nombre" formControlName="nombre" class="form-control">
      </div><br>
      <!--MENSAJE DE ERROR (REQUERIDO)-->
      <div *ngIf="rolesForm.get('nombre')?.invalid && rolesForm.get('nombre')?.touched" class="alert alert-danger">El
        campo nombre no puede estar vacío</div>
      <button type="submit" class="btn btn-success" [disabled]="rolesForm.invalid" (click)="guardarRol(rol)" >Guardar</button>
    </form>
  </div><br>
