
<div class="col-md-6 offset-md-3">
  <h3 class="text-center">Editar cita</h3>
  <form (ngSubmit)="onSubmit()" [formGroup]="citasForm"><br>
    <div class="form-group">
      <label>Fecha: </label>
      <input type="date" [(ngModel)]="cita.fecha" name="fecha" id="fecha" formControlName="fecha" class="form-control">
    </div><br>
    <!--MENSAJE DE ERROR (REQUERIDO)-->
    <div *ngIf="citasForm.get('fecha')?.invalid && citasForm.get('fecha')?.touched" class="alert alert-danger">El
      campo nombre no puede estar vacío</div>
    <div class="form-group">
      <label>Animal: </label>
      <select formControlName="animal_id" [(ngModel)]="animal" (change)="setAnimalCita()" class="form-control">
        <option selected="animal" *ngFor="let a of animales"  [ngValue]="a" >{{a.nombre}}</option>
      </select> 
    </div><br>
    <!--MENSAJE DE ERROR (REQUERIDO)-->
    <div *ngIf="citasForm.get('animal_id')?.invalid && citasForm.get('animal_id')?.touched" class="alert alert-danger">El
      campo animal no puede estar vacío</div>
    <div class="form-group">
      <label>Usuario: </label>
      <select formControlName="usuario_id" [(ngModel)]="usuario" (change)="setUsuarioCita()" class="form-control">
        <option *ngFor="let u of usuarios" [ngValue]="u">{{u.nombre}}</option>
      </select>      
    </div><br>
    <!--MENSAJE DE ERROR (REQUERIDO)-->
    <div *ngIf="citasForm.get('usuario_id')?.invalid && citasForm.get('usuario_id')?.touched" class="alert alert-danger">El
      campo usuario no puede estar vacío</div>
      <button type="submit" class="btn btn-success"  (click)="guardarCita(cita)" >Guardar</button>
    </form>
  </div><br>
  
  